@model DISubScopedModel

@{
    ViewData["Title"] = "Index";
}

<h1>DI SubScopes</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Type</th>
            <th>DependencyOperationId</th>
            <th>ServiceDependencyOperationId</th>
            <th>Sub-scope DependencyOperationId</th>
            <th>Sub-scope ServiceDependencyOperationId</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>transientOperation</td>
            <td>@Model.TransientOperation.OperationId</td>
            <td>@Model.OperationService.TransientOperation.OperationId</td>
           <td>@Model.DiSubScopedModel.TransientOperation.OperationId</td>
            <td>@Model.DiSubScopedModel.OperationService.TransientOperation.OperationId</td>
       </tr>
        <tr>
            <td>scopedOperation</td>
            <td>@Model.ScopedOperation.OperationId</td>
            <td>@Model.OperationService.ScopedOperation.OperationId</td>
          <td>@Model.DiSubScopedModel.ScopedOperation.OperationId</td>
            <td>@Model.DiSubScopedModel.OperationService.ScopedOperation.OperationId</td>
       </tr>
        <tr>
            <td>singletonOperation</td>
            <td>@Model.SingletonOperation.OperationId</td>
            <td>@Model.OperationService.SingletonOperation.OperationId</td>
           <td>@Model.DiSubScopedModel.SingletonOperation.OperationId</td>
            <td>@Model.DiSubScopedModel.OperationService.SingletonOperation.OperationId</td>
      </tr>
        <tr>
            <td>singletonInstanceOperation</td>
            <td>@Model.SingletonInstanceOperation.OperationId</td>
            <td>@Model.OperationService.SingletonInstanceOperation.OperationId</td>
         <td>@Model.DiSubScopedModel.SingletonInstanceOperation.OperationId</td>
            <td>@Model.DiSubScopedModel.OperationService.SingletonInstanceOperation.OperationId</td>
        </tr>
    </tbody>
</table>

